* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1, h2, h6, .loader__txt {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 135%;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  font-weight: 350;
}

h5 {
  font-size: 120%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a, nav {
  text-decoration: none;
}

ul, a {
  color: black;
}

.prix {
  font-weight: bold;
}

p {
  font-weight: lighter;
}

.infos p {
  line-height: 0.6;
}

.fct p {
  font-weight: bold;
  font-size: 105%;
}

.resto p {
  font-weight: 300;
}

.arrow {
  font-size: 150%;
}

.fa-location-dot {
  color: #353535;
}

.fct-btn-icon {
  color: #353535;
  font-size: 125%;
}

.fa-heart {
  font-weight: lighter;
  font-size: 175%;
}

@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay1 {
  animation: menu-appear 500ms ease-out both;
}

.delay2 {
  animation: menu-appear 1000ms ease-out both;
}

.delay3 {
  animation: menu-appear 1500ms ease-out both;
}

.delay4 {
  animation: menu-appear 2000ms ease-out both;
}

@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
button {
  cursor: pointer;
}

/* BOUTON MULTI-COLOR : Explorer et Commander */
.btn-multicolor button {
  height: 50px;
  padding: 0 40px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  background: radial-gradient(ellipse farthest-corner at 30% 0%, #FF79DA, 75%, #9356DC);
  box-shadow: 4px 4px 8px #CCCCCC;
  transition: all 500ms ease-out;
}
.btn-multicolor button:hover {
  background: radial-gradient(ellipse farthest-corner at 30% 0%, #ff8de0, 75%, #9e67e0);
  box-shadow: 4px 4px 8px #8c8c8c;
}

/* BOUTON COEUR */
.heart-empty {
  position: absolute;
  opacity: 1;
  transition: all 500ms ease-out;
}

.heart-full {
  position: relative;
  color: transparent;
  background: radial-gradient(ellipse farthest-corner at 30% 0%, #FF79DA, 75%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease-out;
}

@media screen and (min-width: 992px) {
  .resto-card-icon {
    cursor: pointer;
  }
  .resto-card-icon:hover .heart-empty {
    opacity: 0;
  }
  .resto-card-icon:hover .heart-full {
    opacity: 1;
  }
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  animation: loader-disappear 1s 3s ease-in-out forwards;
}

.loader__circle {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: inset -3px -3px 10px #FF79DA;
  animation: loader-anim 1s ease-out infinite;
}

.loader__circle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 3px 3px 10px #9356DC;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  height: 65px;
}

.arrow {
  position: absolute;
  left: 20px;
  top: 25px;
}
.arrow :hover {
  color: #9356DC;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 3px 8px -6px #353535;
  background-color: #EAEAEA;
  height: 50px;
}

.location-search {
  border: none;
  background-color: transparent;
  padding-left: 20px;
  width: 160px;
  color: #353535;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.info h3, .info p {
  text-align: center;
}
.info h3 {
  margin: 40px 60px 20px 60px;
}
.info p {
  margin: 0 20px;
}

.fct {
  padding: 30px 20px 30px 20px;
}

.fct-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
@media screen and (min-width: 769px) {
  .fct-list li {
    width: 32%;
  }
}
@media screen and (min-width: 769px) {
  .fct-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.fct-btn-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  z-index: 1;
}

.fct-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  height: 75px;
  width: 100%;
  border: none;
  border-radius: 25px;
  margin-left: 13px;
}
.fct-btn .fct-btn-icon {
  padding: 0 20px;
}
.fct-btn .fct-btn-txt {
  font-weight: bold;
  margin-right: 20px;
  text-align: left;
}
.fct-btn:hover {
  background-color: #ffeefa;
  box-shadow: 4px 4px 8px #8c8c8c;
  transition: all 500ms ease-out;
}
.fct-btn:hover .fct-btn-icon {
  color: #9356DC;
}

.resto {
  background-color: #F6F6F6;
  padding: 30px 20px 30px 20px;
}

@media screen and (min-width: 769px) {
  .resto-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .resto-cards a {
    width: 49%;
  }
}

.resto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 255px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 8px #CCCCCC;
  transition: all 500ms ease-out;
}
.resto-card:hover {
  color: #9356DC;
  background-color: #ffeefa;
  box-shadow: 4px 4px 8px #8c8c8c;
  transition: all 500ms ease-out;
}
.resto-card:hover .resto-card-img {
  opacity: 0.75;
  transition: opacity 500ms ease-out;
}
.resto-card h5, .resto-card p {
  margin: 6px 0;
}

.resto-card-img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.resto-card-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 78px;
}

.resto-card-new {
  position: relative;
  z-index: 1;
}

.new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: #217460;
  height: 30px;
  width: 80px;
  font-size: 90%;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: white;
  height: 200px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
@media screen and (min-width: 769px) {
  footer {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
footer h6, footer ul {
  margin: 0;
}
@media screen and (min-width: 769px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  footer li {
    margin: 0 10px;
  }
}
@media screen and (min-width: 992px) {
  footer li {
    margin: 0 25px;
  }
}
footer h6 {
  font-size: 120%;
  font-weight: lighter;
  margin-bottom: 20px;
}
@media screen and (min-width: 769px) {
  footer h6 {
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  footer h6 {
    margin: 0 25px;
  }
}
footer a {
  color: white;
}
footer a:hover {
  color: #9356DC;
  transition: color 500ms;
}

.fa-utensils, .fa-handshake-angle {
  font-size: 85%;
}

.fa-utensils {
  margin-right: 11px;
}

.fa-handshake-angle {
  margin-right: 5px;
}

.photo-resto {
  display: flex;
  max-width: 100vw;
  height: 255px;
}
.photo-resto img {
  object-fit: cover;
  width: 100vw;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 30px 20px 30px 20px;
  padding-top: 10px;
  position: relative;
  margin-top: -40px;
}
.menu h5, .menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu h5 {
  margin: 5px 0;
}
.menu p {
  margin: 0;
}

.menu-title-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-title-1 .resto-card-icon {
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .menu-list-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .menu-list-second {
    width: 31%;
  }
}

.menu-title-2 h4 {
  margin-bottom: 10px;
}

.title-line {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-bottom: 20px;
}

/* MENUS  */
.menu-dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 8px #CCCCCC;
  height: 70px;
  padding: 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: padding-right 500ms;
}
@media screen and (max-width: 992px) {
  .menu-dish:hover {
    background-color: #ffeefa;
    box-shadow: 4px 4px 8px #8c8c8c;
    transition: all 500ms ease-out;
  }
}
@media screen and (min-width: 992px) {
  .menu-dish:hover {
    padding-right: 75px;
  }
  .menu-dish:hover > .dish-check {
    transform: translate(-60px);
  }
  .menu-dish:hover .fa-circle-check {
    transform: rotate(360deg);
  }
}

.dish-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: -50px;
  margin: -10px;
  transform: translate(0);
  transition: transform 500ms ease-out;
}
.dish-check .fa-circle-check {
  color: white;
  font-size: 150%;
  transform: rotate(0);
  transition: transform 500ms;
}

.dish-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.prix {
  padding-left: 20px;
}

/* BOUTON COMMANDER */
.btn-multicolor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0 45px 0;
}

/*# sourceMappingURL=style.css.map */
