.info {
    @include flexcolumn-0-center;
    background-color: $color-fifth;
    & h3, p {text-align: center;}
    & h3 {margin: 40px 60px 20px 60px;}
    & p {margin: 0 20px;}
    }

.fct {@include marges-int;}

.fct-list {
    li {
        @include flexrow-0-center;
        margin-bottom: 25px;
        position: relative;
        @include tablet {width: 32%;}}
    @include tablet {@include flexrow-spacebetween-center;}
    }

.fct-btn-number {
    @include flexrow-center-center;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: $color-first;
    color: white;
    position: absolute;
    z-index: 1;}

.fct-btn {
    @include flexrow-0-center;
    background-color: $color-fifth;
    height: 75px;
    width: 100%;
    border: none; 
    border-radius: 25px;
    margin-left: 13px;
    .fct-btn-icon {padding: 0 20px;}
    .fct-btn-txt {
        font-weight: bold;
        margin-right: 20px;
        text-align: left;}
    &:hover {
        & .fct-btn-icon {color: $color-first;}
        @include btn-main;}
    }
    
