.resto {
    background-color: $color-fifth;
    @include marges-int;}

.resto-cards {
    @include tablet {
        @include flexrow-spacebetween-center;
        flex-wrap: wrap;
        & article {width: 49%;} 
        }
    }

article {
    position: relative;
    & .resto-card-icon {
        position: absolute;
        bottom: 26px;
        right: 15px;
        @include tablet {bottom: 16%;}
        }
    }

.resto-card {
    @include flexcolumn-0-center;
    width: 100%;
    max-height: 255px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    @include shadow-button;
    transition: all 500ms ease-out;
    &:hover {
        color: $color-first;
        @include btn-main;
        .resto-card-img {
            opacity: 0.75;
            transition : opacity 500ms ease-out;}
        }
    h5, p {margin: 6px 0;}
    }

.resto-card-img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;}

.resto-card-caption {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 78px;
    padding: 0 55px 0 20px;
    & h5, p {
        width: 100%;
        margin: 3px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;}
    }

.resto-card-new {
    position: relative;
    z-index: +1;}

.new {
    @include flexrow-center-center;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: $color-third;
    color: darken($color-third, 45);
    height: 30px;
    width: 80px;
    font-size: 90%;
    font-weight: bold;}
