// APPARITION DES ELEMENTS DES MENUS

@keyframes menu-appear {
    0%{
        opacity: 0;
        transform: translateY(15px);}
    100%{
        opacity: 1;
        transform: translateY(0);}
}

.delay1 {animation: menu-appear 500ms ease-out both}
.delay2 {animation: menu-appear 1000ms ease-out both}
.delay3 {animation: menu-appear 1500ms ease-out both}

// LOADING SPINNER

@keyframes loader-anim {
    0% {
        transform: rotate(0deg);
        }
    100% {
        transform: rotate(360deg);
        }
}

@keyframes loader-disappear {
    0% {opacity: 1;}
    100% {
        opacity: 0;
        z-index: -1;}
}