button {cursor: pointer;}

// BOUTONS Fonctionnement & Plats > mixin

/* BOUTON MULTI-COLOR : Explorer et Commander */  

.btn-multicolor button {
    height: 50px;
    padding: 0 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background: $color-shading;
    @include shadow-button;
    transition: all 500ms;
    &:hover {
        background: $color-shading-lighten;
        @include shadow-button-hover;}
    }

/* BOUTON COEUR */  

.heart-empty {
    position: absolute;
    opacity: 1;
    transition: all 1000ms ease-out;
    }

.heart-full {
    position: relative;
    color: transparent;
    background: $color-shading;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 1000ms ease-out;
    }
    
.resto-card-icon {
    @include desktop {
        cursor: pointer;
        &:hover  {
            & .heart-empty {opacity: 0;}
            & .heart-full {opacity: 1;}
            }
        }
    }