button {
    cursor: pointer;
    @include shadow-button;}

.btn-multicolor button {
    height: 50px;
    padding: 0 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background: $color-shading;
    transition: all 500ms;
    &:hover {
        background: $color-shading-lighten;
        @include shadow-button-hover;}
    }

// BOUTONS RESTOS
