* {box-sizing: border-box;}

$color-first: #9356DC;      // bleu
$color-second: #FF79DA;     // rose
$color-third: #99E2D0;      // turquoize
$color-fourth: #353535;     // gris foncé
$color-fifth: #F6F6F6;      // gris clair