// FONT FAMILY 

body {font-family: 'Roboto' , Arial, Helvetica, sans-serif;}

h1, h2, h6, .loader__txt {font-family: 'Shrikhand' , Arial, Helvetica, sans-serif;}

// FONT SIZE, WEIGHT, etc.

h2 {font-size: 175%;}

h3 {
    font-size: 135%;
    font-weight: bold;}

h4 {
    text-transform: uppercase;
    font-weight: 350;}

h5 {font-size: 120%;}

ul {
    list-style-type: none;
    padding: 0;}

a, nav {text-decoration: none;}

ul, a {color: black;}

.prix {font-weight: bold;}

p {font-weight: lighter;}

.infos p {line-height: 0.6;}

.fct p {
    font-weight: bold;
    font-size: 105%;}

.resto p {font-weight: 300;}

// ICONES

.arrow {font-size: 150%;}

.fa-location-dot {color: $color-fourth;}

.fct-btn-icon {
    color: $color-fourth;
    font-size: 125%;;
    }

.fa-heart {
    font-weight: lighter;
    font-size: 175%;}